In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext

print('Import successfull')

Import successfull

<u><h1>First Part</h1></u>
----------------------
very simple script to initialize a spark session and import a flat file.

In [3]:
# Init session
# Spark session creates entry point for application; lets you interact with Spark APIs
# getOrCreate() returns a new session if app exists or creates a new one
scSpark = SparkSession.builder.appName("reading csv").getOrCreate()

# read data
file_data = './Data/data.csv'
sdfData = scSpark.read.csv(file_data, header=True, sep=",").cache()
print(f'Total Records = {sdfData.count()}')
sdfData.show()

Total Records = 4
+------+---+--------+
|  name|age| country|
+------+---+--------+
| adnan| 40|Pakistan|
|  maaz|  9|Pakistan|
| musab|  4|Pakistan|
|ayesha| 32|Pakistan|
+------+---+--------+

<u><h1>Second Part</h1></u>
We will explore using SQL queries in Spark. We will be using real data which can be found on <a href=https://www.kaggle.com/aungpyaeap/supermarket-sales target=_blank>kaggle</a>.
<br>
<h2>Extract</h2>

In [19]:
# Extract the data
data_file = './Data/supermarket_sales - Sheet1.csv'
data = scSpark.read.csv(data_file, header=True, sep=",").cache()

#Explore the dataset
#Look at num of records
print(f'Total Records = {data.count()}')
#Look at schema
print('\nSchema')
print('--------------------------------------------------')
print(data.printSchema())
print('--------------------------------------------------\n')
print('Summary statistics')
print('--------------------------------------------------\n')
print(data.summary().show())

Total Records = 1000

Schema
--------------------------------------------------
root
 |-- Invoice ID: string (nullable = true)
 |-- Branch: string (nullable = true)
 |-- City: string (nullable = true)
 |-- Customer type: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Product line: string (nullable = true)
 |-- Unit price: string (nullable = true)
 |-- Quantity: string (nullable = true)
 |-- Tax 5%: string (nullable = true)
 |-- Total: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Time: string (nullable = true)
 |-- Payment: string (nullable = true)
 |-- cogs: string (nullable = true)
 |-- gross margin percentage: string (nullable = true)
 |-- gross income: string (nullable = true)
 |-- Rating: string (nullable = true)

None
--------------------------------------------------

Summary statistics
--------------------------------------------------

+-------+-----------+------+--------+-------------+------+--------------------+------------------+------------------+------------------+------------------+--------+-----+-------+------------------+-----------------------+------------------+------------------+
|summary| Invoice ID|Branch|    City|Customer type|Gender|        Product line|        Unit price|          Quantity|            Tax 5%|             Total|    Date| Time|Payment|              cogs|gross margin percentage|      gross income|            Rating|
+-------+-----------+------+--------+-------------+------+--------------------+------------------+------------------+------------------+------------------+--------+-----+-------+------------------+-----------------------+------------------+------------------+
|  count|       1000|  1000|    1000|         1000|  1000|                1000|              1000|              1000|              1000|              1000|    1000| 1000|   1000|              1000|                   1000|              1000|              1000|
|   mean|       null|  null|    null|         null|  null|                null| 55.67212999999998|              5.51|15.379369000000002|322.96674900000005|    null| null|   null|307.58738000000034|      4.761904762000062|15.379369000000002| 6.972700000000003|
| stddev|       null|  null|    null|         null|  null|                null|26.494628347919786|2.9234305954556956| 11.70882548099866| 245.8853351009718|    null| null|   null|234.17650961997333|                    0.0| 11.70882548099866|1.7185802943791213|
|    min|101-17-6199|     A|Mandalay|       Member|Female|Electronic access...|             10.08|                 1|            0.5085|           10.6785|1/1/2019|10:00|   Cash|             10.17|            4.761904762|            0.5085|                10|
|    25%|       null|  null|    null|         null|  null|                null|              32.8|               3.0|            5.8345|          122.5245|    null| null|   null|            116.69|            4.761904762|            5.8345|               5.5|
|    50%|       null|  null|    null|         null|  null|                null|             55.07|               5.0|             12.08|            253.68|    null| null|   null|             241.6|            4.761904762|             12.08|               7.0|
|    75%|       null|  null|    null|         null|  null|                null|             77.93|               8.0|             22.43|            471.03|    null| null|   null|             448.6|            4.761904762|             22.43|               8.5|
|    max|898-04-2717|     C|  Yangon|       Normal|  Male|   Sports and travel|             99.96|                 9|             9.989|           99.9075|3/9/2019|20:59|Ewallet|               993|            4.761904762|             9.989|               9.9|
+-------+-----------+------+--------+-------------+------+--------------------+------------------+------------------+------------------+------------------+--------+-----+-------+------------------+-----------------------+------------------+------------------+

None

<h2>Transform</h2>

In [20]:
# group data by gender

gender = data.groupBy('Gender').count()
print(gender.show())

+------+-----+
|Gender|count|
+------+-----+
|Female|  501|
|  Male|  499|
+------+-----+

None

In [22]:
# Create temporary table of sales
# query the temporary table to select all fields

data.registerTempTable('sales')
output = scSpark.sql('SELECT * FROM sales')
output.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity| Tax 5%|   Total|     Date| Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|750-67-8428|     A|   Yangon|       Member|Female|   Health and beauty|     74.69|       7|26.1415|548.9715| 1/5/2019|13:08|    Ewallet|522.83|            4.761904762|     26.1415|   9.1|
|226-31-3081|     C|Naypyitaw|       Normal|Female|Electronic access...|     15.28|       5|   3.82|   80.22| 3/8/2019|10:29|       Cash|  76.4|            4.761904762|        3.82|   9.6|
|631-41-3108|     A|   Yangon|       Normal|  Male|  Home and lifestyle|     46.33|       7|16.2155|340.5255| 3/3/2019|13:23|Credit card|324.31|            4.761904762|     16.2155|   7.4|
|123-19-1176|     A|   Yangon|       Member|  Male|   Health and beauty|     58.22|       8| 23.288| 489.048|1/27/2019|20:33|    Ewallet|465.76|            4.761904762|      23.288|   8.4|
|373-73-7910|     A|   Yangon|       Normal|  Male|   Sports and travel|     86.31|       7|30.2085|634.3785| 2/8/2019|10:37|    Ewallet|604.17|            4.761904762|     30.2085|   5.3|
|699-14-3026|     C|Naypyitaw|       Normal|  Male|Electronic access...|     85.39|       7|29.8865|627.6165|3/25/2019|18:30|    Ewallet|597.73|            4.761904762|     29.8865|   4.1|
|355-53-5943|     A|   Yangon|       Member|Female|Electronic access...|     68.84|       6| 20.652| 433.692|2/25/2019|14:36|    Ewallet|413.04|            4.761904762|      20.652|   5.8|
|315-22-5665|     C|Naypyitaw|       Normal|Female|  Home and lifestyle|     73.56|      10|  36.78|  772.38|2/24/2019|11:38|    Ewallet| 735.6|            4.761904762|       36.78|     8|
|665-32-9167|     A|   Yangon|       Member|Female|   Health and beauty|     36.26|       2|  3.626|  76.146|1/10/2019|17:15|Credit card| 72.52|            4.761904762|       3.626|   7.2|
|692-92-5582|     B| Mandalay|       Member|Female|  Food and beverages|     54.84|       3|  8.226| 172.746|2/20/2019|13:27|Credit card|164.52|            4.761904762|       8.226|   5.9|
|351-62-0822|     B| Mandalay|       Member|Female| Fashion accessories|     14.48|       4|  2.896|  60.816| 2/6/2019|18:07|    Ewallet| 57.92|            4.761904762|       2.896|   4.5|
|529-56-3974|     B| Mandalay|       Member|  Male|Electronic access...|     25.51|       4|  5.102| 107.142| 3/9/2019|17:03|       Cash|102.04|            4.761904762|       5.102|   6.8|
|365-64-0515|     A|   Yangon|       Normal|Female|Electronic access...|     46.95|       5|11.7375|246.4875|2/12/2019|10:25|    Ewallet|234.75|            4.761904762|     11.7375|   7.1|
|252-56-2699|     A|   Yangon|       Normal|  Male|  Food and beverages|     43.19|      10| 21.595| 453.495| 2/7/2019|16:48|    Ewallet| 431.9|            4.761904762|      21.595|   8.2|
|829-34-3910|     A|   Yangon|       Normal|Female|   Health and beauty|     71.38|      10|  35.69|  749.49|3/29/2019|19:21|       Cash| 713.8|            4.761904762|       35.69|   5.7|
|299-46-1805|     B| Mandalay|       Member|Female|   Sports and travel|     93.72|       6| 28.116| 590.436|1/15/2019|16:19|       Cash|562.32|            4.761904762|      28.116|   4.5|
|656-95-9349|     A|   Yangon|       Member|Female|   Health and beauty|     68.93|       7|24.1255|506.6355|3/11/2019|11:03|Credit card|482.51|            4.761904762|     24.1255|   4.6|
|765-26-6951|     A|   Yangon|       Normal|  Male|   Sports and travel|     72.61|       6| 21.783| 457.443| 1/1/2019|10:39|Credit card|435.66|            4.761904762|      21.783|   6.9|
|329-62-1586|     A|   Yangon|       Normal|  Male|  Food and beverages|     54.67|       3| 8.2005|172.2105|1/21/2019|18:00|Credit card|164.01|            4.761904762|      8.2005|   8.6|
|319-50-3348|     B| Mandalay|       Normal|Female|  Home and lifestyle|      40.3|       2|   4.03|   84.63|3/11/2019|15:30|    Ewallet|  80.6|            4.761904762|        4.03|   4.4|
+-----------+------+---------+-------------+------+--------------------+----------+--------+-------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 20 rows

In [23]:
# Modify previous query to add WHERE clause

output2 = scSpark.sql('SELECT * \
                    FROM sales \
                    WHERE `Unit Price` < 15 AND Quantity < 10 ')
output2.show()

+-----------+------+---------+-------------+------+--------------------+----------+--------+------+--------+---------+-----+-----------+------+-----------------------+------------+------+
| Invoice ID|Branch|     City|Customer type|Gender|        Product line|Unit price|Quantity|Tax 5%|   Total|     Date| Time|    Payment|  cogs|gross margin percentage|gross income|Rating|
+-----------+------+---------+-------------+------+--------------------+----------+--------+------+--------+---------+-----+-----------+------+-----------------------+------------+------+
|351-62-0822|     B| Mandalay|       Member|Female| Fashion accessories|     14.48|       4| 2.896|  60.816| 2/6/2019|18:07|    Ewallet| 57.92|            4.761904762|       2.896|   4.5|
|871-39-9221|     C|Naypyitaw|       Normal|Female|Electronic access...|     12.45|       6| 3.735|  78.435| 2/9/2019|13:11|       Cash|  74.7|            4.761904762|       3.735|   4.1|
|586-25-0848|     A|   Yangon|       Normal|Female|   Sports and travel|     12.34|       7| 4.319|  90.699| 3/4/2019|11:19|Credit card| 86.38|            4.761904762|       4.319|   6.7|
|389-25-3394|     C|Naypyitaw|       Normal|  Male|Electronic access...|     11.81|       5|2.9525| 62.0025|2/17/2019|18:06|       Cash| 59.05|            4.761904762|      2.9525|   9.4|
|279-62-1445|     C|Naypyitaw|       Member|Female| Fashion accessories|     12.54|       1| 0.627|  13.167|2/21/2019|12:38|       Cash| 12.54|            4.761904762|       0.627|   8.2|
|545-46-3100|     B| Mandalay|       Member|Female|Electronic access...|     10.59|       3|1.5885| 33.3585|3/12/2019|13:52|Credit card| 31.77|            4.761904762|      1.5885|   8.7|
|346-84-3103|     B| Mandalay|       Member|Female|Electronic access...|     13.22|       5| 3.305|  69.405| 3/2/2019|19:26|       Cash|  66.1|            4.761904762|       3.305|   4.3|
|883-17-4236|     C|Naypyitaw|       Normal|Female|   Sports and travel|     14.39|       2| 1.439|  30.219| 3/2/2019|19:44|Credit card| 28.78|            4.761904762|       1.439|   7.2|
|633-91-1052|     A|   Yangon|       Normal|Female|  Home and lifestyle|     12.03|       2| 1.203|  25.263|1/27/2019|15:51|       Cash| 24.06|            4.761904762|       1.203|   5.1|
|396-90-2219|     B| Mandalay|       Normal|Female|Electronic access...|     14.96|       8| 5.984| 125.664|2/23/2019|12:29|       Cash|119.68|            4.761904762|       5.984|   8.6|
|870-76-1733|     A|   Yangon|       Member|Female|  Food and beverages|     14.23|       5|3.5575| 74.7075| 2/1/2019|10:08|Credit card| 71.15|            4.761904762|      3.5575|   4.4|
|835-16-0096|     C|Naypyitaw|       Member|  Male|   Sports and travel|      14.7|       5| 3.675|  77.175|3/24/2019|13:48|    Ewallet|  73.5|            4.761904762|       3.675|   8.5|
|760-54-1821|     B| Mandalay|       Normal|  Male|  Home and lifestyle|     13.59|       9|6.1155|128.4255|3/15/2019|10:26|       Cash|122.31|            4.761904762|      6.1155|   5.8|
|236-86-3015|     C|Naypyitaw|       Member|  Male|  Home and lifestyle|     13.98|       1| 0.699|  14.679| 2/4/2019|13:38|    Ewallet| 13.98|            4.761904762|       0.699|   9.8|
|732-67-5346|     A|   Yangon|       Normal|  Male|  Food and beverages|     13.79|       5|3.4475| 72.3975|1/11/2019|19:07|Credit card| 68.95|            4.761904762|      3.4475|   7.8|
|192-98-7397|     C|Naypyitaw|       Normal|  Male| Fashion accessories|     12.78|       1| 0.639|  13.419| 1/8/2019|14:11|    Ewallet| 12.78|            4.761904762|       0.639|   9.5|
|239-48-4278|     A|   Yangon|       Member|  Male|  Food and beverages|     10.13|       7|3.5455| 74.4555|3/10/2019|19:35|    Ewallet| 70.91|            4.761904762|      3.5455|   8.3|
|227-50-3718|     A|   Yangon|       Normal|  Male|   Health and beauty|     14.62|       5| 3.655|  76.755| 3/4/2019|12:23|       Cash|  73.1|            4.761904762|       3.655|   4.4|
|470-31-3286|     B| Mandalay|       Normal|  Male|   Health and beauty|     14.82|       3| 2.223|  46.683| 3/1/2019|11:30|Credit card| 44.46|            4.761904762|       2.223|   8.7|
|308-39-1707|     A|   Yangon|       Normal|Female| Fashion accessories|     12.09|       1|0.6045| 12.6945|1/26/2019|18:19|Credit card| 12.09|            4.761904762|      0.6045|   8.2|
+-----------+------+---------+-------------+------+--------------------+----------+--------+------+--------+---------+-----+-----------+------+-----------------------+------------+------+
only showing top 20 rows

In [27]:
# Aggregate values

output3 = scSpark.sql('SELECT COUNT(*) as total, City FROM sales GROUP BY City')
output3.show()

+-----+---------+
|total|     City|
+-----+---------+
|  328|Naypyitaw|
|  332| Mandalay|
|  340|   Yangon|
+-----+---------+

<h2>Load</h2>

In [28]:
# Multiple files will be created
output3.write.format('json').save('filtered.json')

In [30]:
# to savve as only 1 file use coalesce
output3.coalesce(1).write.format('json').save('filtered_onefile.json')

## We can use pyspark to extract data from a database as well

We will access MySql with pyspark
The dataset can be found <a href='https://archive.ics.uci.edu/ml/datasets/Wine+Quality' target=_blank>here</a>

- First we will use panda to import the data, seperate red from white wines
  - no cleaning, eda, or nothing is done here
  - this step is just to create a MySql Database
- We will then write the results to a MySql database
- Then access the database using Pyspark

In [11]:
import pandas as pd
import mysql.connector

# Load data
red_wines = pd.read_csv('./winequality/winequality-red.csv', sep=";")
white_wines = pd.read_csv('./winequality/winequality-white.csv', sep=";")

# add coluns labeling type of wine: 1 for red 0 for white
red_wines['is_red'] = 1
white_wines['is_red'] = 0

# concat red and white wines dataframe into one
wines = pd.concat([red_wines, white_wines])

# Connect to MySql and add a cursor to execute queries
db_con = mysql.connector.connect(user='root', password='DumbDumb')
db_cursor = db_con.cursor()

# Create DataBase and create a Table
db_cursor.execute('CREATE DATABASE IF NOT EXISTS TestDB;')
db_cursor.execute('USE TestDB')

# Make column names in table match with the ones from the csv file
db_cursor.execute("CREATE TABLE IF NOT EXISTS Wines(fixed_acidity FLOAT, volatile_acidity FLOAT, \
                   citric_acid FLOAT, residual_sugar FLOAT, chlorides FLOAT, \
                   free_so2 FLOAT, total_so2 FLOAT, density FLOAT, pH FLOAT, \
                   sulphates FLOAT, alcohol FLOAT, quality INT, is_red INT);")

# Can load multiple rows in a MySQL table if the contents of each row is contained within parenthesis and comma seperated
# Match the syntax of INSERT
wine_tuples = list(wines.itertuples(index=False, name=None))
wine_tuples_string = ",".join(["(" + ",".join([str(w) for w in wt]) + ")" for wt in wine_tuples])

db_cursor.execute("INSERT INTO Wines(fixed_acidity, volatile_acidity, citric_acid,\
                   residual_sugar, chlorides, free_so2, total_so2, density, pH,\
                   sulphates, alcohol, quality, is_red) VALUES " + wine_tuples_string + ";")

In [11]:
# Check that the database and table were created and data sucessfully added to the table:
db_cursor.execute('SELECT * FROM Wines LIMIT 2;')
result1 = db_cursor.fetchall()
for x in result1:
    print(x)
    
print(wines.head(2))

# The results are kind of messy because the long column names makes the pandas result span multiple rows
# But you can compare the results between pandas and MySql amd see that the data matches

(7.4, 0.7, 0.0, 1.9, 0.076, 11.0, 34.0, 0.9978, 3.51, 0.56, 9.4, 5, 1)
(7.8, 0.88, 0.0, 2.6, 0.098, 25.0, 67.0, 0.9968, 3.2, 0.68, 9.8, 5, 1)
   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  \
0            7.4              0.70          0.0             1.9      0.076
1            7.8              0.88          0.0             2.6      0.098

   free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  \
0                 11.0                  34.0   0.9978  3.51       0.56
1                 25.0                  67.0   0.9968  3.20       0.68

   alcohol  quality  is_red
0      9.4        5       1
1      9.8        5       1

None

## Access MySQL with Pyspark

Doing this can very quickly lead to massive headheaches...<br>
We are establishing a jdbc connection<br>
Make sure you have downloaded the correct MysQL connector (specifically the mysql-connector-java:$<version>$) and that the jar file is in the right location

In [2]:
spark = SparkSession.builder.config("spark.jars", "/usr/share/java/mysql-connector-java-8.0.22.jar") \
    .master("local").appName("PySpark_MySQL_test").getOrCreate()

In [4]:
import findspark

findspark.add_packages('mysql:mysql-connector-java:8.0.11')

In [7]:
wine_df = spark.read.format("jdbc").option("url", "jdbc:mysql://localhost:3306/TestDB") \
    .option("driver", "com.mysql.jdbc.Driver").option("dbtable", "Wines") \
    .option("user", "root").option("password", "DumbDumb").load()

In [43]:
# explore a bit :)
# SHow first 5 rows of dataframe
print(wine_df.show(n=5))

# Count number of rows
print(f'\nThe dataframe has {wine_df.count()} rows')

# Show number of partions in underlying RDD
print(f'Number of partitions = {wine_df.rdd.getNumPartitions()}')

# Get datatype of columns 
print(wine_df.printSchema())

# Get basic statistic of datframe
print(wine_df.describe().show())

# Calling describe() on the whole dataframe gives a messy output
# we can call it on a single column
print(wine_df.describe('volatile_acidity').show())

# We can also print the summary statistics of more than 1 col at a time
print(wine_df.describe(['volatile_acidity', 'citric_acid', 'alcohol', 'quality']).show())

# If we absolutely need the basic summary statistics of the whole data frame and need to format it to look nice
# we can can itterate over each column, find the statistics of that column, round the numbers to the desired format
# concat the results into a new data frame
# kind of a pain..

+-------------+----------------+-----------+--------------+---------+--------+---------+-------+----+---------+-------+-------+------+
|fixed_acidity|volatile_acidity|citric_acid|residual_sugar|chlorides|free_so2|total_so2|density|  pH|sulphates|alcohol|quality|is_red|
+-------------+----------------+-----------+--------------+---------+--------+---------+-------+----+---------+-------+-------+------+
|          7.4|             0.7|        0.0|           1.9|    0.076|    11.0|     34.0| 0.9978|3.51|     0.56|    9.4|      5|     1|
|          7.8|            0.88|        0.0|           2.6|    0.098|    25.0|     67.0| 0.9968| 3.2|     0.68|    9.8|      5|     1|
|          7.8|            0.76|       0.04|           2.3|    0.092|    15.0|     54.0|  0.997|3.26|     0.65|    9.8|      5|     1|
|         11.2|            0.28|       0.56|           1.9|    0.075|    17.0|     60.0|  0.998|3.16|     0.58|    9.8|      6|     1|
|          7.4|             0.7|        0.0|           1.9|    0.076|    11.0|     34.0| 0.9978|3.51|     0.56|    9.4|      5|     1|
+-------------+----------------+-----------+--------------+---------+--------+---------+-------+----+---------+-------+-------+------+
only showing top 5 rows

None

The dataframe has 12994 rows
Number of partitions = 1
root
 |-- fixed_acidity: double (nullable = true)
 |-- volatile_acidity: double (nullable = true)
 |-- citric_acid: double (nullable = true)
 |-- residual_sugar: double (nullable = true)
 |-- chlorides: double (nullable = true)
 |-- free_so2: double (nullable = true)
 |-- total_so2: double (nullable = true)
 |-- density: double (nullable = true)
 |-- pH: double (nullable = true)
 |-- sulphates: double (nullable = true)
 |-- alcohol: double (nullable = true)
 |-- quality: integer (nullable = true)
 |-- is_red: integer (nullable = true)

None
+-------+------------------+-------------------+-------------------+-----------------+--------------------+------------------+------------------+--------------------+------------------+-------------------+------------------+------------------+------------------+
|summary|     fixed_acidity|   volatile_acidity|        citric_acid|   residual_sugar|           chlorides|          free_so2|         total_so2|             density|                pH|          sulphates|           alcohol|           quality|            is_red|
+-------+------------------+-------------------+-------------------+-----------------+--------------------+------------------+------------------+--------------------+------------------+-------------------+------------------+------------------+------------------+
|  count|             12994|              12994|              12994|            12994|               12994|             12994|             12994|               12994|             12994|              12994|             12994|             12994|             12994|
|   mean|  7.21530706479916|0.33966599969216754|0.31863321533015293|5.443235339387388| 0.05603386178236028|30.525319378174544| 115.7445744189626|  0.9946966338310053| 3.218500846544574| 0.5312682776666159|10.491800797290919| 5.818377712790519|0.2461135908881022|
| stddev|1.2963838671393126|0.16463013837922177|0.14531227263017502|4.757620648585259|0.035032253174372356| 17.74871672184842|56.519679392094275|0.002998557605785...|0.1607810145300659|0.14880014711803322|1.1926658296240336|0.8732216660483803|0.4307620821234794|
|    min|               3.8|               0.08|                0.0|              0.6|               0.009|               1.0|               6.0|             0.98711|              2.72|               0.22|               8.0|                 3|                 0|
|    max|              15.9|               1.58|               1.66|             65.8|               0.611|             289.0|             440.0|             1.03898|              4.01|                2.0|              14.9|                 9|                 1|
+-------+------------------+-------------------+-------------------+-----------------+--------------------+------------------+------------------+--------------------+------------------+-------------------+------------------+------------------+------------------+

None
+-------+-------------------+
|summary|   volatile_acidity|
+-------+-------------------+
|  count|              12994|
|   mean|0.33966599969216754|
| stddev|0.16463013837922177|
|    min|               0.08|
|    max|               1.58|
+-------+-------------------+

None
+-------+-------------------+-------------------+------------------+------------------+
|summary|   volatile_acidity|        citric_acid|           alcohol|           quality|
+-------+-------------------+-------------------+------------------+------------------+
|  count|              12994|              12994|             12994|             12994|
|   mean|0.33966599969216754|0.31863321533015293|10.491800797290919| 5.818377712790519|
| stddev|0.16463013837922177|0.14531227263017502|1.1926658296240336|0.8732216660483803|
|    min|               0.08|                0.0|               8.0|                 3|
|    max|               1.58|               1.66|              14.9|                 9|
+-------+-------------------+-------------------+------------------+------------------+

None